ion-content { 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

mwc-circular-progress {
}

mwc-button {
  position: absolute;
  top: 350px;
  width: 300px;
}
mwc-chip {
  position: absolute;
  top: 150px;
  left: 150px;
}
mwc-slider {
  position: absolute;
  width: 250px;
  top: 400px;
  left: 50px;
}